.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Formulario {
  user-select: none;
	padding-top: 1rem;
    background: #C87D6D;
	border-radius: 10px;
	width: 450px;
    height: 700px;
}

.title {
  font-size: 1.25rem;
  text-align: center;
  font-family: sans-serif;
}

.Formulario input {
  margin-block: 10px;
  width: calc(100% - 20px);
}

.Boton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 70px;
  height: 40px;
  background: #a96455;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid #c87d6d;
  font-size: 1.75rem;
  transition: all 0.3s;
  outline: 2px solid #a96455;
}

.botones {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input {
  font-size: 1.25rem;
	display: block;
	margin: 30px auto;
	text-align: center;
	width: 300px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 10px;
	border: 1px solid #C87D6D;
	outline: 2px solid #A96455;
	transition: all .3s;
}

.notita {
  font-size: 1.25rem;
	display: block;
	text-align: center;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 10px;
	width: 80px;
	text-align: center;
	border: 1px solid #C87D6D;
	outline: 2px solid #A96455;
	transition: all .3s;
}