.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Formulario {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #c87d6d;
  text-align: center;
  width: 275px;
  height: 450px;
}

.title {
  font-size: 1.25rem;
  text-align: center;
  font-family: sans-serif;
}

.Formulario input {
  margin-block: 10px;
  width: calc(100% - 20px);
}

.Boton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 30px;
  height: 40px;
  background: #a96455;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid #c87d6d;
  font-size: 1.75rem;
  transition: all 0.3s;
  outline: 2px solid #a96455;
}

.botones {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input {
  font-size: 1.25rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid #c87d6d;
  outline: 2px solid #a96455;
  transition: all 0.3s;
}
